.wrapper {
    margin: auto;
    padding: 2.3rem 0 15rem;
    max-width: 1920px;
    height: fit-content;
    background-color: #171717;
    font-family: 'Gilam', sans-serif;
}

strong {
    font-weight: 700;
}

/* Header */
.header {
    padding: 0 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-linkbutton {
    display: inline-flex;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.6rem;
    text-decoration: none;
    border: 1px solid #E4B564;
    color: #E4B564;
}

.call-button::before {
    content: "";
    background: url("../images/phone-image.svg") no-repeat;
    width: 13px;
    height: 13px;
    margin-right: 0.3rem;
}

/* First section */

.heat-networks {
    margin-top: 6.7rem;
    padding: 0 8vw;
}

.section-header {
    color: white;
    font-size: 3.1rem;
    font-weight: 700;
}

.section-description {
    font-weight: 700;
    line-height: 1.75rem;
    margin-top: 2.5rem;
    color: white;
    font-size: 1.25rem;
}

.heat-networks-grid {
    margin-top: 2.5rem;
    font-size: 1.25rem;
    display: grid;
    color: white;
    text-align: center;
    gap: 1.5rem;
    height: 58rem;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.heat-box {
    display: flex;
    font-weight: 700;
    padding: 2.3rem;
    align-items: center;
    justify-content: center;
}

.heat-box.long {
    grid-column-end: span 2;
}

/* Second section */

.car-park {
    padding: 0 8vw;
    margin-top: 10rem;
}

.car-park-header {
    margin-bottom: 6rem;
}

.car-park-grid {
    font-size: 1.25rem;
    display: grid;
    color: white;
    gap: 1.5rem;
    height: 56rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10fr 1fr 6fr 4fr 11fr;
    grid-template-areas: 
    "box1 box2 box3"
    "box1 box2 box6"
    "box4 box2 box6"
    "box4 box5 box6"
    "box4 box5 box7";
}

.car-box {
    padding: 3.5rem;
}

.car-box1 {
    background-color: #0E0E0E;
    grid-area: box1;
}

.car-box2 {
    background-color: #242424;
    grid-area: box2;
}

.car-box3 {
    background-color: #1F1F1F;
    grid-area: box3;
}

.car-box4 {
    background-color: #1F1F1F;
    grid-area: box4;
}

.car-box5 {
    color: black;
    background-color: #E4B564;
    grid-area: box5;
}

.car-box6 {
    background-color: #0E0E0E;
    grid-area: box6;
}

.car-box7 {
    font-weight: 700;
    background-color: #0A0909;
    grid-area: box7;
}

/* Third section */

.our-clients {
    margin-top: 12rem;
    padding: 10rem 8vw 0;
    background-color: #0E0E0E;
}

.clients-navbox {
    margin-bottom: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-clients-grid {
    color: white;
    display: grid;
    height: 49rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.setl-group-logo::before {
    content: "";
    background: url("../images/setl.svg") no-repeat;
    width: 52px;
    height: 53px;
}

.clients-box {
    font-size: 1.375rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mavis-textline {
    padding-top: 1rem;
    line-height: 1.75rem;
}

.setl-group-logo {
    font-weight: 700;
    position: relative;
}

.setl-group-logo::before {
    content: "";
    background: url("../images/setl.svg") no-repeat center;
    background-size: 52px 53px;
    top: -11px;
    left: -12px;
    position: absolute;
}